[masters]
master ansible_host=k8s-master00 ansible_user=root ansible_password=hack3rL3git

[nodes]
node0 ansible_host=k8s-node00 ansible_user=root ansible_password=hack3rL3git
node1 ansible_host=k8s-node01 ansible_user=root ansible_password=hack3rL3git
